@import '~antd/dist/antd.css';
/*layout*/
::-webkit-scrollbar:vertical {
  display: none;
}

.App, .ant-layout, main.ant-layout-content.site-layout-background {
  background-color: #f3f4f7;
  background: #f3f4f7;
}

div.ant-typography, .ant-typography p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

#brandLogo {
  width: 200px;
  background: black;
  background: blue;
  height: 100%;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#MyAccountMenu {
  transform: translate(0, calc(-100% + 1px));
}

/*utils*/
.flex-row {
  flex-flow: row;
}
.flex-col {
  flex-flow: column;
}
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-unset {
  display: flex;
  justify-content: center;
}
.flex-unset-center {
  display: flex;
  align-items: center;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-between-base {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}



.period-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}